
.border {
  border: 1px solid green;
  border-radius: 6px 6px;
}

.bottom-notification {
  padding-top: 52px;
}

#upper-section {
  background-color: #2F4352;
  height: 23rem;
  margin-top: 2rem;
}

.border-bottom {
  border-bottom: 2px solid #E44D65;
  padding-bottom: 10px;
}

#content-section {
  background-color: #FFFFFF;
  padding-top: 62px;
  padding-bottom: 62px;
}

.padding-top {
  padding-top: 52px
}

.d-flex {
  display: flex-inline;
}

#contact input[type="button"] {
  background: #e44c65;
  border:none;
  color: #ffffff;
  font-weight: 400;
  letter-spacing: 1px;
}

#contact input[type="button"]:hover {
  background: #469349;
  color: #ffffff;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.text-danger {
  color: #e44c65 !important;
}
